<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon3.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/inosuke.jfif">
    </div>
    {{>footer}}
</body>

</html>